* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('/background.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido {
  background-color: rgba(0, 0, 0, 0.6); /* Fondo semitransparente */
  padding: 2rem;
  border-radius: 1rem;
}
